################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TonCasinoCryptoDemo/FileContentIndex/fc790c94-e205-47e6-9f06-e5e55ff3ec32.vsidx
/.vs/TonCasinoCryptoDemo/v17/.suo
