################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TonCasinoCryptoDemo/FileContentIndex/fc790c94-e205-47e6-9f06-e5e55ff3ec32.vsidx
/.vs/TonCasinoCryptoDemo/v17/.suo
/.vs/TonCasinoCryptoDemo/config/applicationhost.config
/.vs/TonCasinoCryptoDemo/FileContentIndex/4010bfdf-d250-4b1b-b95b-bc673693e410.vsidx
/src/obj/Debug/package.g.props
/src/obj/Debug/TonCasinoCryptoDemo.esproj.CoreCompileInputs.cache
/src/obj/Debug/TonCasinoCryptoDemo.esproj.FileListAbsolute.txt
/.vs/TonCasinoCryptoDemo/FileContentIndex/0a9c170e-ea3b-441d-8ee1-c961151f7740.vsidx
/.vs/TonCasinoCryptoDemo/FileContentIndex/a960169b-4808-463d-b77c-654f8d3ce873.vsidx
/.vs/TonCasinoCryptoDemo/FileContentIndex/c5cb842c-1a61-40ba-b662-580f8f3a155b.vsidx
/.vs/TonCasinoCryptoDemo/FileContentIndex/07df1d39-b623-40ab-b0ee-946e6ee7e029.vsidx
/.vs/TonCasinoCryptoDemo/FileContentIndex/c75c0005-e5f5-4be4-b6dc-8cd4449c6188.vsidx
